<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="nav-menu dodger_blue">
  <nav class="menu">
    <div>
      <ul class="menu-options">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/">Inicio</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="registrar">Registrar copago</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="liquidaciones">Liquidaciones</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
