<h1>Liquidaciones</h1>


 <!-- <div class="center-content">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar identificacion">
      </div>
</div> -->

<div class="form-element">
    <label for="searchText">Buscar identificacion</label>
    <input [(ngModel)]="searchText"  name="searchText" type="text" class="form-control" placeholder="Buscar identificacion">
   
</div>



<div class="center-content">
    <table>
        <thead>
            <tr class="table-header">
                <th>Identificacion</th>
                <th>Salario</th>
                <th>Valor servicio</th>
                <th>Tarifa</th>
                <th>Valor copago</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="cell" *ngFor="let copago of liquidaciones | filtroLiquidacion:searchText">
                <td>{{ copago.identificacion }}</td>
                <td>{{ copago.salario }}</td>
                <td>{{ copago.valorServicio }}</td>
                <td>{{ copago.tarifa }}</td>
                <td>{{ copago.valor }}</td>
 
                
            </tr>
        </tbody>
    </table>
</div>